/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COMMON */


.container{
    /* max-width: 1200px; */
    width: 80%;
    margin: 3em auto;
    /* border: 1px solid red; */

}

.row{
    width: 100%;
    vertical-align: top;

}

.product{
    display: inline-block;
    width: calc((100%/3) - 3px);
  
}

.product {
    position: relative;
}

.product :first-child{
    width: 100%;
}
.banner{
    position: absolute;
    bottom: 10% ; 

}

.bg-red{
    background-color: red;
}

.bg-green{
    background-color: green;
}

.heart{
    background-color: white;
    position: absolute;
    top: 5%;
    right: 0;
    padding: 7px;
}
.text-desc{
    font-size: .5em;
}

.text-desc :nth-child(2){
    font-weight: bold;

}
