/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COMMON */


.container{
    /* max-width: 1200px; */
    width: 80%;
    margin: 3em auto;
    /* border: 1px solid red; */

}

.row{
    width: 100%;

}

.product{
    display: inline-block;
    position: relative;
    width: calc((100%/3) - 3px)
    

}

.product :first-child{
    width: 100%;
}

.product .discount{
    position: absolute;
    bottom: 10% ; 

}

.bg-red{
    background-color: red;
}




/* .product .sostenibilità{
    position: absolute;
    bottom: 10%; 
    


} */